# GitLab CI configuration for the "HenDi-ODD"
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://localhost:2375
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  #GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build

.install_dependencies:
  image: ubuntu
  before_script:
    - apt update -y
    #- apt upgrade -y
    - apt install -y gnupg2 curl
    - apt install -y --no-install-recommends ant git

build-odd-places:
  stage: build
  extends: .install_dependencies
  script:
    - ant places
  artifacts:
    paths:
      - odd/*
  only:
    refs:
      - merge_requests
      - develop
    changes:
      - src/Specs/schemaSpec-places.odd.xml
      - src/Specs/common-specs.odd.xml
      - src/Guidelines/de/*
