[submodule "submodules/Stylesheets"]
	path = submodules/Stylesheets
	url = https://github.com/TEIC/Stylesheets.git
	ignore = all
	shallow = true
[submodule "submodules/WeGA-ODD"]
	path = submodules/WeGA-ODD
	url = https://github.com/Henze-Digital/WeGA-ODD.git
	ignore = all
	shallow = true